<div class="row">
    <div class="col-md-12">
        <h2>Lesinschrijvingen</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <b>Ingeschreven voor:</b>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p>De titel van een les</p>
    </div>
    <div class="col-md-3">
        <p>Dit is een omschrijving van 3 rijen. Ik maak deze zin dus een beetje lang</p>
    </div>
    <div class="col-md-3 offset-1">
        <i><u>Afmelden</u></i>
    </div>
</div>