<div class="row">
    <div class="col-md-12 ps-5 pt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Mijn Betaalgeschiedenis
                </h2>
            </div>
        </div>
        <div class="row" id="paymentContent">
            <div class="col-md-12">
                <b>5 Uren</b>
                <p>Gekocht op <b><i>21-05-2022</i></b></p>
            </div>
        </div>
    </div>
</div>