<div class="row">
    <div class="col-md-12 ps-5 pt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>
                    Mijn Betaalgeschiedenis
                </h2>
            </div>
        </div>
        <div class="row" id="paymentContent">
        </div>
    </div>
</div>