<div class="row">

    <div class="col-md-12 ps-5 pt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>Mijn profiel</h2>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-12">
                <b>Mijn abonnementen</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <p>Abonnement</p>
            </div>
            <div class="col-md-7">
                <i><u>Stopzetten</u></i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b>Mijn strippenkaarten</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <p class="p-0 m-0">Mantelzorgers strippenkaart</p>
            </div>
            <div class="col-md-7">
                <i>Nog x lessen over</i>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <p class="descriptionText">Geldig tot: <b>09/05/2023</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b>Mijn gekochte cadeaubonnen</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="p-0 m-0">Cadeaubon of kennismaking actie 5 lessen</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <p class="descriptionText">Geldig tot: <b>09/05/2023</b></p>
            </div>
        </div>
    </div>
</div>