<div class="row">
    <div class="col-md-12  ps-5 pt-3">
        <div class="row">
            <div class="col-md-12">
                <h2>Mijn profiel</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row pt-3">
                    <div class="col-md-6">
                        <b>Volledige naam</b>
                    </div>
                </div>
                <div class="row">
                    <div id="nameRow" class="col-md-8">
                        <p>Tom Olijve<i class="bi bi-pencil" onclick="changeName()"></i></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <b>E-mailadres</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p>Test@test.test <i class="bi bi-pencil"></i></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <img src="../static/pg.jpg" alt="profielfoto" class="pf">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b>Telefoonnummer</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>0612345678 <i class="bi bi-pencil"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b>Geboortedatum</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>21-03-2000 <i class="bi bi-pencil"></i></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <b>Wachtwoord</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <u><i>Wijzig wachtwoord</i></u>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-md-4">
                <b>Notities <i class="bi bi-pencil"></i></b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 notes">
                <p>Dit is echt een hele lange luist met het verhaal dat iemand zijn been heeft
                    gebroken. Soms heeft diegene ook last van zijn pink.Dit is echt een hele
                    lange luist met het verhaal dat iemand zijn been heeft
                    gebroken. Soms heeft diegene ook last van zijn pink.Dit is echt een hele
                    lange luist met het verhaal dat iemand zijn been heeft
                    gebroken. Soms heeft diegene ook last van zijn pink.Dit is echt een hele
                    lange luist met het verhaal dat iemand zijn been heeft
                    gebroken. Soms heeft diegene ook last van zijn pink.Dit is echt een hele
                    lange luist met het verhaal dat iemand zijn been heeft
                    gebroken. Soms heeft diegene ook last van zijn pink.</p>
            </div>
        </div>
    </div>
</div>