<div class="row header">
    <div class="col-md">
        <h1 class="display-4 ps-5">Klanten</h1>
    </div>
</div>
<div class="row content">
    <div class="col-md-6" id="usersContainer">
        <div id="usersHeader">
            <h5>Alle geregistreerde klanten op uw platform</h1>
                <p>Hieronder vindt u alle geregistreerde klanten op uw platform, klik op een klant om zijn of haar
                    gegevens
                    te kunnen bekijken.</p>
                <hr>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>
        <div class="row userRow align-items-center">
            <div class="col-md">
                <p class="m-0">${user.fullName} <i class="bi bi-person ps-2 float-right"></i></p>
            </div>
        </div>

        <!--Add all users with js-->
    </div>
    <div class="col-md-6">
        <div class="row">

        </div>
    </div>
</div>

<script src="../static/dashboard/users.js"></script>