<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/png" href="../../static/favicon.png" />
    <link rel="stylesheet" href="../../static/dashboard.css">
    <link rel="stylesheet" href="../../static/styles.css">
    <link rel="stylesheet" href="../../static/users.css">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../bicons/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
</head>

<body>
    <div class="wrapper">

        <nav id="sidebar">
            <div class="toggleSideBar"><i class="bi bi-chevron-right"></i></div>
            <div class="sidebar-header">
                <h3 class="display-6 today">Welkom <%=userId%>
                </h3>
            </div>

            <ul class="list-unstyled lead components">
                <p class="lead">Maandag 11-6-2022</p>
                <li class="">
                    <a href="#homeSubmenu" id="dashboardBtn" data-bs-toggle="collapse" aria-expanded="false"
                        class="dropdown-toggle"><i class="bi bi-speedometer2 pe-2"></i> Dashboard</a>
                </li>
                <!-- <li>
                    
                    <!-- <a href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                        class="bi bi-people pe-2"></i> Klanten <i class="bi bi-chevron-down float-right"></i>
                    </a> -->

                <!-- <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a class="lbs subItems" href="#">inzichten <i
                                    class="bi bi-chevron-right float-right"></i></a>
                        </li>
                        <li>
                            <a class="lbs subItems" href="#">Producten <i
                                    class="bi bi-chevron-right float-right"></i></a>
                        </li>
                        <li>
                            <a class="lbs subItems" href="#">Betalingen <i
                                    class="bi bi-chevron-right float-right"></i></a>
                        </li>
                    </ul> 
                </li> -->
                <li>
                    <a href="#" id="usersBtn"><i class="bi bi-people pe-2"></i> Klanten</a>
                </li>
                <li>
                    <a href="#" id="productsBtn"><i class="bi bi-box-seam pe-2 "></i> Producten</a>
                </li>
                <li>
                    <a href="#" id="sessionsBtn"><i class="bi bi-calendar4-week pe-2"></i> Lessen</a>
                </li>
                <li>
                    <a href="#" id="toScheduleBtn"><i class="bi bi-journal-plus pe-2"></i> To schedule</a>
                </li>
            </ul>
        </nav>
        <div id="content" class="container-fluid">
            <!--Content-->

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="../../../static/apiCaller.js"></script>
    <script src="../../../static/utils.js"></script>
    <script src="../../../static/dashboard/userDetails.js"></script>
    <script src="../../../static/dashboard/dashboard.js"></script>
</body>

</html>