<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="icon" type="image/png" href="./static/favicon.png" />
    <link rel="stylesheet" href="static/dashboard.css">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./bicons/bootstrap-icons.css">
</head>

<body>
    <div class="main-wrapper container-fluid">
        <div class="row h-100">
            <div class="col-sm-1" id="menuContainer">
                <div class="row align-items-center" id="menuTopRow">
                    <div class="col-md-12 text-center">
                        <p class="m-0">Menu</p>
                    </div>
                </div>
                <div class="row h-100" id="menuContentRow">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2 text-center offset-sm-1">
                                <i class="bi bi-people-fill"></i>
                            </div>
                            <div class="col-sm-9">
                                <p class="m-0">Gebruikers</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 text-center offset-sm-1">
                                <i class="bi bi-people-fill"></i>
                            </div>
                            <div class="col-sm-9">
                                <p class="m-0">Gebruikers</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 text-center offset-sm-1">
                                <i class="bi bi-people-fill"></i>
                            </div>
                            <div class="col-sm-9">
                                <p class="m-0">Gebruikers</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-11">
                <div class="row h-25">
                    <div class="col-md" id="titleContainer">
                        Titel
                    </div>
                </div>
                <div class="row h-75">
                    <div class="col-md" id="contentContainer">
                        Content
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="static/apiCaller.js"></script>
    <script src="static/utils.js"></script>
</body>

</html>