<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payment</title>
  <link rel="icon" type="image/png" href="./static/favicon.png" />
  <link rel="stylesheet" href="static/paymentSucces.css">
  <link rel="stylesheet" href="static/styles.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./bicons/bootstrap-icons.css">
  <link rel="stylesheet" href="sweetalert2.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
    integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</head>

<body>
    <div class="main-wrapper container">
        <div class="row ">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <div class="row align-items-center">
                    <div class="col-md p-4 text-center">
                        <img class="bounce-in-bck" height="150px" width="150px" src="/static/check.png">
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md p-3 text-center">
                        <h2 class="thanksMessage">
                            
                        </h2>
                    </div>
                </div>
                <div class="row align-items-center productBack">
                    <div class="col-md-5 h-100 p-4  boughtProduct">
                        <h5>Product</h5>
                        <p class="productName">
                            Strippenkaart - 10 uur 
                        </p>
                    </div>
                    <div class="col-md-3 h-100 overflow-auto p-4 ">
                        <h5>Bedrag</h5>
                        <p class="productPrice">
                            €10,00
                        </p>    
                    </div>
                    <div class="col-md-4 h-100 overflow-auto p-4 ">
                        <h5>Omschrijving</h5>
                        <p class="boughtProductDes">
                            Met de strippenkaart kunt u zich inschrijven voor diverse lessen! Ik natascha Puper hoop jullie snel te zien op locatie tot dan!Met de strippenkaart kunt u zich inschrijven voor diverse lessen! Ik natascha Puper hoop jullie snel te zien op locatie tot dan!
                        </p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md p-4 text-center">
                        <p class="">
                            <i class="bi bi-info-circle"></i> Wanneer u een abonnement afsluit bij ons kunt u die gemakkelijk annuleren op uw <a href="#">profiel</a>.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-md text-center">
                        <p class="">
                            <small>Bedankt voor uw bestelling bij <a href="https://het-eigen-wijze-lichaam.nl/agenda">het-eigen-wijze-lichaam.nl</a>, we hopen u snel weer te zien!</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
  </div>


  <script src="sweetalert"></script>
  <script src="static/utils.js"></script>
  <script src="static/paymentSucces.js"></script>
  <script src="static/apiCaller.js"></script>
</body>

</html>