
.main-wrapper
{
    height: calc(100vh - 58px);
}

body {
    background-image: url("./background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}

.headerRow
{
    height: 10%;
}
.agendaItem
{
    margin: 4px;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    animation-name: headerTest;
    animation-duration: 0.5s;

}

.agendaItem:hover
{
    margin-left: 0.5px;
    background-color: #e9e9e9;
}

.contentRow
{
    height: 90%;
    background-color: white;
    margin-left: 40px !important;
    margin-right: 40px !important;
    overflow: auto;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #eeeeee;
}

.contentRow::-webkit-scrollbar
{
    display: none;
}

.schedule {
    border: 1px solid black;
    border-radius: 1px 1px 1px 1px;
    background-color: white;
    height: 100%;
    padding: 20px;
    overflow: auto;
}

.headerText {
    border-left: 2px solid black;
    padding: 10px;
}

.sweetalert-subscribe {
    width: 40vw !important;
}

.sweetalert-subscribe input[type=number]{
    margin-bottom: 50px !important;
    width: 100px !important;
}

.prevWeek
{
    font-size: 20px;
}
.nextWeek
{
    font-size: 20px;
}

.addLesson {
    font-size: 20pt;
    cursor: pointer;
}

.sweetalert-makeLesson {
    width: 40vw !important;
    padding: 20px !important;
}

.sweetalert-makeLesson input{
    margin-top: 0px !important;
    margin-bottom: 20px !important;
}

.sweetalert-makeLesson input[type=number], input[type=date], input[type=time]{
    width: 200px !important;
}

.sweetalert-makeLesson h2 {
    margin-bottom: 30px !important;
}

/* KEYFRAMES ANIMATION */

@keyframes headerTest {
    0%   {width: 0%;}
    100% {width: 100%;}
  }