

.main-wrapper
{
    height: calc(100vh - 58px);
}

body {
    background-image: url("./background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}

.headerRow
{
    height: 10%;
}
.agendaItem
{
    background-color: #d5ca9b45;
    margin: 4px;
    border-radius: 0px 26px 0px 23px;
    transition: 0.2s;
    cursor: pointer;

}
.agendaItem:hover
{
    margin-left: 1px;
}
.contentRow
{
    height: 90%;
    background-color: white;
    margin-left: 40px !important;
    margin-right: 40px !important;
    overflow: auto;
}
.schedule {
    border: 1px solid black;
    border-radius: 1px 1px 1px 1px;
    background-color: white;
    height: 100%;
    padding: 20px;
    overflow: auto;
}


.sweetalert-subscribe {
    width: 40vw !important;
}

.sweetalert-subscribe input[type=number]{
    margin-bottom: 50px !important;
    width: 100px !important;
}