

.main-wrapper
{
    height: calc(100vh - 58px);
}

body {
    background-image: url("./background.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed ;
}

.headerRow
{
    height: 10%;
}

.contentRow
{
    height: 90%;
    background-color: white;
    margin-left: 40px !important;
    margin-right: 40px !important;
    overflow: auto;
}
.schedule {
    border: 1px solid black;
    border-radius: 1px 1px 1px 1px;
    background-color: white;
    height: 100%;
    padding: 20px;
    overflow: auto;
}
