.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    height: 100vh;
}

.items {
    text-align: center !important;
    border-radius: 4px;
    margin: 12px !important;
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid #d7d7d7;
}


#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.toggleSideBar {
    background-color: rgb(65 65 65);
    width: 45px;
    height: 50px;
    position: absolute;
    border-radius: 0px 2px 2px 0px;
    font-size: 31px;
    margin-left: 249px;
    cursor: pointer;
    padding-left: 7px;
}

#sidebar {
    background: #333333;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #414141;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #868686;
}

.subItems {
    font-size: 15px !important;
    margin-top: 0px !important;
    margin-left: 15px !important;
    background-color: #3e3e3e !important;
}

.float-right {
    float: right !important;
}

#sidebar ul p {
    color: #d9d9d9;
    /* border-bottom: 1px solid #7d7d7d; */
    padding: 10px;
    background: #393939;
    margin: 6px;
    border-radius: 8px;
}

#sidebar ul li a {
    padding: 10px;
    /* font-size: 1.1em; */
    display: block;
    background: #353535;
    margin: 10px;
    border-radius: 4px;
    color: white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: rgb(78, 78, 78);
    margin-right: 3px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #979797;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #525252;
}