@font-face {
    font-family: Lato;
    src: url(./font_lato);
}

.main-wrapper
{
    height: calc(100vh - 58px);
}

body {
    background-image: url(./background.png);
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    margin: 50px;
}

.subtitle {
    
}