
.imageHolder
{
    background-image: url("./pexels-cottonbro-4325455.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-wrapper
{
    height: 100vh;
}
.registerContent
{
    padding: 10px;
}
.blockquote
{
    /* margin: 0px !important; */
}
.passIcon
{
    float: right;
    margin-top: -31px;
    margin-right: 12px;
}


