.tooltip-inner {
    background-color: white !important;
    border: 1px solid #D5CA9B !important;
    opacity: 1 !important;
    color: black !important;
}

.tooltip.bs-tooltip-right .tooltip-arrow::before {
    border-right-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
    border-left-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #ff0000 !important;
}

.imageHolder {
    background-image: url("./pexels-cottonbro-4325455.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-wrapper {
    height: 100vh;
}

.registerContent {
    padding: 10px;
}

.blockquote {
    /* margin: 0px !important; */
}

.passIcon {
    float: right;
    margin-top: -31px;
    margin-right: 12px;
}