@font-face {
        font-family: Lato;
        src: url(./font_lato);
}
.contentRow::-webkit-scrollbar {
        display: none;
    }
    
@font-face {
        font-family: OpenSans;
        src: url(./open_sans);
}

input {
        box-shadow: none !important;
}

.loader {
        position: absolute;
        border: 1px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #D5CA9B;
        width: 70px !important;
        height: 70px;
        top: 50%;
        left: 48%;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        z-index: 1062;
        display: none;
}
.backgroundLoader {
        width: 100vw;
        height: 100vh;
        position: absolute;
        opacity: 0.5;
        background: #000000;
        z-index: 1061;
}
.outerLoader {
        display: block;
        transition: 1s;
}
      
button {
        box-shadow: none !important;
}
.cursor {
        cursor: pointer;
}
.successColor {
        color: green !important;
}
.failedColor {
        color: red !important;
}
.gift {
        padding-right: 4px !important;
}

.profileItemNav {
        left: -105px !important;
}
.navbar {
        box-shadow: 0px 0px 8px -5px black;
}

.inputStyle {
        /* border: none !important;
    border-bottom: 1px solid #d5ca9b !important;
    border-radius: 0px !important; */
}

.showOrHide {
        opacity: 0.5 !important;
        pointer-events: none;
}
.h-33 {
        height: 33%;
}
.hiding {
        display: none;
}
b {
        font-weight: bold !important;
}

/* Left border style : accent */
.lbs {
        border-left: 3px solid #D5CA9B;
        padding-left: 7px;
}

.lbbs {
        border-bottom: 2px solid #D5CA9B;
        padding-left: 7px;
}

.rbs {
        border-right: 2px solid #D5CA9B;
}

/* Global error message style */
.errorBox {
        display: none;
        cursor: pointer;
}
#submitVideo {
        background-color: #D5CA9B !important;
        border: 1px solid #D5CA9B;
}
/* Global title styling */
h1 {
        font-family: 'Lato', 'Segoe UI';
        text-transform: uppercase;
        color: #707070 !important;
}

/* Global subtitle styling */
h2 {
        font-family: 'Lato', 'Segoe UI';
        text-transform: uppercase;
        color: #707070 !important;
}

h3 {
        font-family: 'Lato', 'Segoe UI';
}

h4 {
        font-family: 'OpenSans', 'Segoe UI';
        margin: 0px !important;
}

/* Global button styling */
.yinStyle {
        /* background-color: #D5CA9B !important;
        border-color: #D5CA9B !important; */
        background-color: #d5ca9b00 !important;
        color: #767676 !important;
        border-color: #D5CA9B !important;
}
.swal2-popup {
        background-color: rgb(255 255 255);
        /* border-top: 20px solid #d5ca9b !important; */
        box-shadow: 0px 1px 12px -5px #0e0e0e !important;
}

.yinStyle:hover {
        background-color: #D5CA9B !important;
        border-color: #D5CA9B !important;
        color: white !important;
}

.yinStyle:focus {
        box-shadow: none !important;
}

.signUpStyle {
        background-color: #D5CA9B !important;
        border-color: #D5CA9B !important;
        color: #FFFFFF !important;
}

.signUpStyle:focus{
        box-shadow: none !important;
}

.navbar-style {
        background-color: white !important;
}

/* Global white box styling */
.contentcontainer {
        background-color: #ffffffbd;
        border-radius: 30px 30px 0px 0px;
        height: 90%;
        overflow: auto;
        padding: 20px 10px 20px 10px;
        margin: 0px 30px 0px 30px !important;
}

/* Global tooltip styling */
.tooltip-inner {
        background-color: white !important;
        border: 1px solid #D5CA9B !important;
        opacity: 1 !important;
        color: black !important;
    }
    
.tooltip.bs-tooltip-right .tooltip-arrow::before {
border-right-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-left .tooltip-arrow::before {
border-left-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
border-bottom-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
border-top-color: #D5CA9B !important;
}

.tooltip.bs-tooltip-top .arrow:before {
border-top-color: #ff0000 !important;
}

/* Global navbar classes */
.nav-item {
        padding-right: 40px !important;
        padding-left: 40px !important;
        font-family: Arial, Helvetica, sans-serif;
}

.currentNavItem {
        border-bottom: 2px solid #D5CA9B;
}

.currentNavItem:hover {
        border-bottom: 2px solid #d5ca9b48;
}

.tracking-in-contract {
        -webkit-animation: tracking-in-contract 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-contract 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.slide-in-blurred-top {
        -webkit-animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
        animation: slide-in-blurred-top 0.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

.slide-in-elliptic-top-fwd {
        -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.swing-in-top-fwd {
        -webkit-animation: swing-in-top-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
        animation: swing-in-top-fwd 0.9s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.slide-out-elliptic-top-bck {
        -webkit-animation: slide-out-elliptic-top-bck 0.7s ease-in both;
        animation: slide-out-elliptic-top-bck 0.7s ease-in both;
}

.slide-out-top {
        -webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear both;
	animation: vibrate-1 0.3s linear both;
}
.shadow-pop-tr {
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}
.slide-top {
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
        .rbs {
                border: 0px;
        }


}

/* ANIMATIONS */
@-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
        }
      }
@-webkit-keyframes tracking-in-contract {
        0% {
                letter-spacing: 1em;
                opacity: 0;
        }

        40% {
                opacity: 0.6;
        }

        100% {
                letter-spacing: normal;
                opacity: 1;
        }
}

@keyframes tracking-in-contract {
        0% {
                letter-spacing: 1em;
                opacity: 0;
        }

        40% {
                opacity: 0.6;
        }

        100% {
                letter-spacing: normal;
                opacity: 1;
        }
}

@-webkit-keyframes slide-in-blurred-top {
        0% {
                -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-filter: blur(40px);
                filter: blur(40px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

@keyframes slide-in-blurred-top {
        0% {
                -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-filter: blur(40px);
                filter: blur(40px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) scaleY(1) scaleX(1);
                transform: translateY(0) scaleY(1) scaleX(1);
                -webkit-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                -webkit-filter: blur(0);
                filter: blur(0);
                opacity: 1;
        }
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
        0% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1;
        }
}

@keyframes slide-in-elliptic-top-fwd {
        0% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1;
        }
}

@-webkit-keyframes swing-in-top-fwd {
        0% {
                -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 0;
        }

        100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 1;
        }
}

@keyframes swing-in-top-fwd {
        0% {
                -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 0;
        }

        100% {
                -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
                -webkit-transform-origin: top;
                transform-origin: top;
                opacity: 1;
        }
}

@-webkit-keyframes slide-out-elliptic-top-bck {

        0% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1;
        }

        100% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
        }
}

@keyframes slide-out-elliptic-top-bck {
        0% {
                -webkit-transform: translateY(0) rotateX(0) scale(1);
                transform: translateY(0) rotateX(0) scale(1);
                -webkit-transform-origin: 50% 1400px;
                transform-origin: 50% 1400px;
                opacity: 1;
        }

        100% {
                -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
                transform: translateY(-600px) rotateX(-30deg) scale(0);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                opacity: 1;
        }
}
@-webkit-keyframes slide-in-fwd-center {
        0% {
          -webkit-transform: translateZ(-1400px);
                  transform: translateZ(-1400px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
      @keyframes slide-in-fwd-center {
        0% {
          -webkit-transform: translateZ(-1400px);
                  transform: translateZ(-1400px);
          opacity: 0;
        }
        100% {
          -webkit-transform: translateZ(0);
                  transform: translateZ(0);
          opacity: 1;
        }
      }
@-webkit-keyframes slide-out-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
        }

        100% {
                -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
                opacity: 0;
        }
}

@keyframes slide-out-top {
        0% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
        }

        100% {
                -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
                opacity: 0;
        }
}
@-webkit-keyframes vibrate-1 {
        0% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
        20% {
          -webkit-transform: translate(-2px, 2px);
                  transform: translate(-2px, 2px);
        }
        40% {
          -webkit-transform: translate(-2px, -2px);
                  transform: translate(-2px, -2px);
        }
        60% {
          -webkit-transform: translate(2px, 2px);
                  transform: translate(2px, 2px);
        }
        80% {
          -webkit-transform: translate(2px, -2px);
                  transform: translate(2px, -2px);
        }
        100% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
      }
      @keyframes vibrate-1 {
        0% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
        20% {
          -webkit-transform: translate(-2px, 2px);
                  transform: translate(-2px, 2px);
        }
        40% {
          -webkit-transform: translate(-2px, -2px);
                  transform: translate(-2px, -2px);
        }
        60% {
          -webkit-transform: translate(2px, 2px);
                  transform: translate(2px, 2px);
        }
        80% {
          -webkit-transform: translate(2px, -2px);
                  transform: translate(2px, -2px);
        }
        100% {
          -webkit-transform: translate(0);
                  transform: translate(0);
        }
      }

      @-webkit-keyframes shadow-pop-tr {
        0% {
          -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                  box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
        }
        100% {
          -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
          -webkit-transform: translateX(-8px) translateY(8px);
                  transform: translateX(-8px) translateY(8px);
        }
      }
      @keyframes shadow-pop-tr {
        0% {
          -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
                  box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
          -webkit-transform: translateX(0) translateY(0);
                  transform: translateX(0) translateY(0);
        }
        100% {
          -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
                  box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
          -webkit-transform: translateX(-8px) translateY(8px);
                  transform: translateX(-8px) translateY(8px);
        }
      }

        /* LOADER */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      