.main-wrapper {
    height: calc(100vh - 58px);
}
.headerRow {
    height: 10%;
}
body {
    background-color: rgb(219, 159, 159) !important;
}
.headerText {
    padding: 10px;
    font-weight: 600 !important;
}
.videoItem {
    height: 262px !important;
    width: 333px !important;
}
.addVideo {
    cursor: pointer;
}
.contentRow {
    height: 90%;
    background-color: white;
    margin-left: 5px !important;
    margin-right: 5px !important;
    overflow: auto;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #eeeeee;
}